@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Municipal Trash <br/>Collection</h1>
    @*<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
              Aenean commodo ligula eget dolor.</p>*@
    <p><a href="http://localhost:62105/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Manage Your Account</h4>
        <p>To update your account, change your collection date, etc.</p>
        <p><a class="btn btn-primary btn-sm" href="http://localhost:62105/Manage">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Residential Services</h4>
        <p>Get dependable curbside trash pickup for your home or community..</p>
        <p><a class="btn btn-primary btn-sm" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>News and Updates</h4>
        <p>YLorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <p><a class="btn btn-primary btn-sm" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>