@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Municipal Trash Collection</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
              Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Business Services</h4>
        <p>Find quality services to meet your every commercial waste need.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Residential Services</h4>
        <p>Get dependable curbside trash pickup for your home or community..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>News and Updates</h4>
        <p>YLorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>