body {
    padding-bottom: 20px;
}
body h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body h1 {
    font-family: Arial, 'Times New Roman', Times, serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-weight: 200;
  color: inherit;
  background-image: url('http://ehouse411.com/Canada/UserFiles/20150812/03335218.jpg');
  background-size: 100vw;
}

.jumbotron h1 {
  line-height: 1;
  color: floralwhite;
  text-align: left;
  font-size: 5vh;
}

.jumbotron p {
  line-height: 1;
  color: floralwhite;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .85vw
}
.jumbotron h2 {
    text-align: center;
}

.container .jumbotron {
  border-radius: 6px;
  
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background-size: inherit;
    background-image: url('http://ehouse411.com/Canada/UserFiles/20150812/03335218.jpg');
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    
  }
  .jumbotron h1 {
    font-size: 60px; 
    font-family: Calibri, 'Times New Roman', sans-serif;
    
  }
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #007145;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0;
}
.nav.navbar-nav li a {
   color: #fff !important;
 }

.nav.navbar-nav a:hover {
 color: #ffd800 !important;
}

.nav.navbar-brand a {
 color: #fff !important;
}

.nav.navbar-brand:hover a {
 color: #ffd800 !important;
}

.navbar-inverse .navbar-brand {
    color:white;
}
.navbar-inverse .navbar-brand:hover a {
 color: #ffd800 !important;
}

.page-header h1 {
    font-family: 'Bradley Hand ITC';
    font-size: 10vh;
    line-height: 5vh;
}

.page-header {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.body {
    padding-top: 0;
}
